/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navber starts from here */
.nav-logo{
    text-align: left;
}

.nav-heading h1{
    text-align: right;
}

.navber-menu{
    flex-direction: row;
    justify-content: flex-end;
}

.navber-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: transparent;
}

/* navber ends here */

/* profile starts from here */

.profile .top-weather-icon{
    position: absolute;
    right: 100px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .top-weather-icon:hover{
    width: 140px;
}

.profile-desc p{
    color: gray;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}

.profile .bottom-weather-icon{
    position: absolute;
    left: 140px;
    bottom: 20px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .bottom-weather-icon:hover{
    width: 140px;
}

/* profile ends here */

/* about me starts here */

.aboutme-image{
    margin-top: 100px;
}

.aboutme-image img{
    height: 280px;
    width: 260px;
}

.aboutme-desc p{
    text-align: left;
}

/* about me ends here */

/* professional-experience starts here */

.professional-experience{
    padding: 1% 5%;
}

/* professional-experience ends here */

/* Achievements starts here */

.achievements{
    padding-right: 50px;
}

.Contact button{
    width: 150px;
}

.Contact-links{
    position: relative;
}

.media-buttons{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 200px;
    transform: translate(-50%,-50%);
}


/* Achievements ends here */

/* footer starts here */

.footer-menu{
    margin-top: 12px;
}

.footer-menu a{
    display: inline;
    margin: 10px;
}

/* footer ends here */